.list{
    list-style: none;
    margin: 0px;
    padding: 0px;
}

a{
    text-decoration:none;
    transition: all 0.3s ease-in-out;
    &:hover, &:focus{
       text-decoration:none;
       outline: none;
    }
}
.row.m0{
    margin: 0px;
}

body{
    line-height: 24px;
    font-size: 14px;
    font-family: $open;
    font-weight: normal;
    color: $pfont;
}
h1, h2, h3, h4, h5, h6{ 
    font-family: $rob; 
    font-weight: 500;
}

button:focus{
    outline: none;
	box-shadow: none;
}

.p_120{
	padding-bottom: 120px;
}
.p_100{
	padding-top: 100px;
	padding-bottom: 100px;
}
.pad_top{
	padding-top: 120px;
}
.mt-25{
	margin-top: 25px;
}
.mt-100{
	margin-top: 100px;
}
.p0{
	padding-left: 0px;
	padding-right: 0px;
}
.container{
    @media(min-width:1200px){
        max-width: 1200px;
    }
}
@media(min-width: 1620px){
	.box_1620{
		max-width: 1650px;
		margin: auto;
	}
}


/* Main Title Area css
============================================================================================ */
.main_title{
	text-align: center;
	max-width: 720px;
	margin: 0px auto 75px;
	h2{
		font-weight: bold;
		font-family: $rob;
		font-size: 36px;
		color: $dip;
		margin-bottom: 12px;
	}
	p{
		font-size: 14px;
		font-family: $rob;
		font-weight: normal;
		line-height: 24px;
		color: $pfont;
		margin-bottom: 0px;
	}
}

.main_title2{
	background: #f9f9ff;
	border-left: 3px solid $baseColor;
	margin-bottom: 30px;
	h2{
		color: $dip;
		font-size: 18px; 
		font-family: $rob;
		font-weight: 500;
		line-height: 40px;
		padding-left: 15px;
		margin-bottom: 0px;
	}
}

/* End Main Title Area css
============================================================================================ */



