
<!--================Header Menu Area =================-->
<header class="header_area">
    <div class="logo_part">
        <div class="container">
            <a class="logo" href="#"><img height="100px" width="300px" src="https://portal.crea-sc.org.br/wp-content/uploads/2019/04/UNOESC.jpg" alt=""></a>
        </div>
    </div>
</header>

